.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* padding: 20px; */
}

.map-section {
  flex: 6;
  max-width: 60%;
}

.form-section {
  flex: 1;
  flex: 4;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #007dc5;
  color: white;
  justify-content: center;
}

.mapframe {
  width: 100%;
  height: 130vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 140px;
}

input,
textarea {
  padding: 20px;
  border: 1px solid white;
  background-color: #007dc5;
  color: white;
  border-radius: 5px;
  outline: none;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.015em;
  text-align: left;
}

::placeholder {
  color: white;
}

button {
  padding: 20px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: background-color 0.3s;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.015em;
  border-radius: 8px;
}

.contactformtitle {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.015em;
  text-align: left;
  margin: 0px;
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .contact-container {
    flex-direction: column;
  }

  .map-section {
    flex: 0 0 100%;
    max-width: 100%;
    /* padding: 20px 150px; */
  }
  .form-section {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 150px;
  }

  .mapframe {
    width: 100%;
    height: 100vh;
  }
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
@media (max-width: 1024px) {
  form {
    padding: 20px;
  }
}
@media screen and (max-width: 426px) {
  .contact-container {
    flex-direction: column;
  }

  .map-section {
    flex: 0 0 100%;
    max-width: 100%;
    /* padding: 20px 150px; */
  }
  .form-section {
    flex: 0 0 100%;
    max-width: 100%;
    /* padding: 20px 150px; */
  }

  .mapframe {
    width: 100%;
    height: 100vh;
  }
}
