@import "../../variables.scss";

.text {
  background-color: $darkBlue;
  padding: 0 0 50px;
  .wrapper {
    min-height: 100vh !important;
    height: 100%;
    align-items: end;
    justify-content: center;
    padding: 120px 0 0 !important;
    @media (max-width: 1600px) {
      min-height: 130vh !important;
    }
    @media (max-width: 1199px) {
      min-height: 140vh !important;
    }
    @media (max-width: 991px) {
      min-height: 130vh !important;
    }
    @media (max-width: 767px) {
      padding: 100px 0 0 !important;
      min-height: 90vh !important;
    }
    @media (max-width: 575px) {
      padding: 100px 0 0 !important;
      min-height: 100vh !important;
    }
    @media (max-width: 375px) {
      min-height: 120vh !important;
    }
    .inner {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 100px;
      @media (max-width: 1440px) {
        width: 93%;
      }
      @media (max-width: 1199px) {
        margin: 0 0 125px;
      }
      @media (max-width: 991px) {
        width: 100%;
      }
      p {
        font-size: 108px;
        line-height: 145px;
        font-weight: 250;
        padding: 0 20px;
        color: $mediumBlue;
        @media (max-width: 1199px) {
          font-size: 98px;
          line-height: 120px;
          padding: 0 15px;
        }
        @media (max-width: 991px) {
          font-size: 90px;
          line-height: 110px;
          padding: 0 10px;
        }
        @media (max-width: 767px) {
          font-size: 80px;
          line-height: 90px;
          padding: 0 7px;
        }
        @media (max-width: 610px) {
          font-size: 57px;
          line-height: 70px;
          padding: 0 5px;
        }
        @media (max-width: 460px) {
          font-size: 45px;
          line-height: 60px;
          padding: 0 5px;
        }
        @media (max-width: 355px) {
          font-size: 40px;
          line-height: 60px;
          padding: 0 5px;
        }
        @media (max-width: 320px) {
          font-size: 32px;
          line-height: 45px;
          padding: 0 5px;
        }
      }
    }

    .smallText {
      color: $lightBlue1;
      margin: 0 0 20px;
      font-size: 22px;
      font-weight: 300;
      line-height: 45px;
      letter-spacing: 0.11px;
      width: 80%;
      padding: 0 0 0 20px;
      @media (max-width: 991px) {
        width: 90%;
        line-height: 40px;
        font-size: 20px;
      }
      @media (max-width: 767px) {
        width: 100%;
        line-height: 30px;
        font-size: 17px;
        padding: 0;
      }
    }
    .readmore_btn a {
      padding: 10px;
      width: 246px;
      background-color: $lightBlue3;
      text-align: center;
      color: $darkBlue;
      display: block;
      text-decoration: none;
      margin: 0 0 0 20px;
      @media (max-width: 767px) {
        width: revert;
        margin: 0;
      }
    }
    .readmore_btn {
      padding: 10px;
      width: 246px;
      background-color: $lightBlue3;
      text-align: center;
      color: $darkBlue;
      display: block;
      text-decoration: none;
      margin: 0 0 0 20px;
      text-transform: capitalize;
      cursor: pointer;
      @media (max-width: 767px) {
        width: revert;
        margin: 0;
      }
    }
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    &_wrapper {
      position: relative;
      margin: 0 auto;
      width: 50%;
      z-index: 999;
      background-color: $grey11;
      padding: 100px 50px;
      margin: 65px 0 0;
      @media (max-width: 1199px) {
        width: 60%;
      }
      @media (max-width: 991px) {
        width: 60%;
        padding: 50px;
      }
      @media (max-width: 767px) {
        width: 75%;
        padding: 50px;
        margin: 0;
      }
      @media (max-width: 575px) {
        padding: 25px;
      }
      @media (max-width: 320px) {
        padding: 35px 20px 25px;
        height: 400px;
        overflow-y: scroll;
      }
      &_text {
        p {
          margin: 0 0 20px;
          font-size: 16px;
          @media (max-width: 767px) {
            font-size: 14px;
            margin: 0 0 18px;
          }
          @media (max-width: 575px) {
            font-size: 12px;
            margin: 0 0 10px;
          }
        }
      }
      .close_btn {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        img {
          width: 40px;
          @media (max-width: 575px) {
            width: 30px;
          }
        }
      }
    }
  }
}
