@import "../../variables.scss";

.innerPageBanner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 140px);
  position: relative;
  display: flex;
  align-items: end;
  top: 100px;
  margin: 0 0 100px;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 47%);
  }
  @media (max-width: 1199px) {
    min-height: calc(100vh - 110px);
    // top: 110px;
    margin: 0 0 100px;
  }
  @media (max-width: 991px) {
    min-height: calc(100vh - 93px);
    top: 80px;
    margin: 0 0 80px;
  }
  @media (max-width: 767px) {
    min-height: calc(100vh - 80px);
    top: 0;
    margin: 0;
  }
  // @media (max-width: 575px) {
  //   min-height: 300px;
  // }
  &_wrapper {
    margin: 0 0 130px 131px;
    position: absolute;
    width: 80%;
    @media (max-width: 1199px) {
      margin: 0 0 120px 90px;
    }
    @media (max-width: 991px) {
      margin: 0 0 80px 70px;
    }
    @media (max-width: 767px) {
      margin: 0 0 80px 50px;
    }
    @media (max-width: 767px) {
      margin: 0 0 80px 30px;
    }
    h1 {
      color: $white;
      font-size: 128px;
      font-style: normal;
      font-weight: 300;
      line-height: 135px;
      text-transform: uppercase;
      @media (max-width: 1199px) {
        font-size: 102px;
        line-height: 110px;
      }
      @media (max-width: 991px) {
        font-size: 90px;
        line-height: 95px;
      }
      @media (max-width: 767px) {
        font-size: 60px;
        line-height: 65px;
      }
      @media (max-width: 575px) {
        font-size: 40px;
        line-height: 45px;
      }
    }
    .largeText {
      color: $white;
      font-size: 72px;
      font-style: normal;
      font-weight: 300;
      line-height: 87.5px;
      width: 1155px;
      text-transform: uppercase;
      @media(max-width:1440px){
        font-size: 68px;
        font-style: normal;
        font-weight: 300;
        line-height: 82.5px;
        width: 1022px;
      }
      @media (max-width: 1199px) {
        width: 980px;
        font-size: 60px;
        line-height: 70px;
      }
      @media (max-width: 991px) {
        width: 750px;
        font-size: 50px;
        line-height: 55px;
      }
      @media (max-width: 767px) {
        width: 520px;
        font-size: 35px;
        line-height: 40px;
      }
      @media (max-width: 575px) {
        width: 400px;
        font-size: 28px;
        line-height: 33px;
      }
      @media (max-width: 430px) {
        width: 300px;
        font-size: 22px;
        line-height: 33px;
      }
      @media (max-width: 320px) {
        width: 220px;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}
