@import "../../variables.scss";

.productSlider {
  .wrapper {
    position: relative;
    .swiper-slide {
      height: auto;
    }
    .productSliderCardItem {
      display: flex;
      height: 100%;
      @media (max-width: 767px) {
        flex-direction: column-reverse;
      }
      .card1 {
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: #ebebeb;
        padding: 65px 0 52px;
        @media (max-width: 767px) {
          width: 100%;
          padding: 0;
        }
        .homePageCommonHeading {
          @media (max-width: 767px) {
            display: none;
          }
        }
        .card1_inner {
          padding-left: 70px;
          max-width: 500px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          position: relative;
          z-index: 1;
          @media (max-width: 1199px) {
            padding-left: 32px;
            // padding-bottom: 120px;
            max-width: 460px;
          }
          @media (max-width: 991px) {
            padding-left: 5px;
            // padding-bottom: 120px;
            max-width: 310px;
          }
          @media (max-width: 767px) {
            max-width: 100%;
            padding: 0 20px 45px;
          }
          .info {
            margin-top: 250px;
            font-size: 86px;
            font-weight: 600;
            line-height: 75px;
            letter-spacing: -6.02px;
            // text-transform: uppercase;
            color: $darkBlue;
            @media (max-width: 1600px) {
              margin-top: 200px;
            }
            @media (max-width: 1440px) {
              margin-top: 150px;
            }
            @media (max-width: 1199px) {
              margin-top: 120px;
              font-size: 70px;
              letter-spacing: -5.02px;
              line-height: 70px;
            }
            @media (max-width: 991px) {
              margin-top: 90px;
              font-size: 56px;
              letter-spacing: -4.02px;
              line-height: 63px;
            }
            @media (max-width: 767px) {
              margin-top: 0;
              font-size: 40px;
              letter-spacing: -2.02px;
              line-height: 45px;
            }
          }
          .details {
            margin: 20px 0 50px;
            @media (max-width: 767px) {
              font-size: 13px;
              margin: 15px 0 30px;
            }
          }
          .link {
            width: fit-content;
            a {
              color: $black;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration: none;
              border: 1px solid $black;
              padding: 15px 25px;
              width: fit-content;
              transition: all 0.3s;
              &:hover {
                color: $darkBlue;
                img {
                  transform: translateX(10px) rotate(90deg);
                }
              }
              @media (max-width: 767px) {
                font-size: 15px;
                padding: 5px 20px;
              }
            }
            img {
              transform: rotate(90deg);
              margin-left: 12px;
              transition: all 0.3s;
            }
          }
          .index {
            color: rgba(217, 217, 217, 0.54);
            font-size: 565px;
            font-style: normal;
            font-weight: 300;
            line-height: 69.5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            letter-spacing: -6.02px;
            @media (max-width: 1360px) {
              font-size: 459px;
            }
            @media (max-width: 1199px) {
              font-size: 385px;
            }
            @media (max-width: 991px) {
              font-size: 310px;
              top: 25%;
            }
            @media (max-width: 767px) {
              top: 36%;
            }
            @media (max-width: 575px) {
              font-size: 245px;
              top: 20%;
            }
          }
        }
      }
      .card2 {
        background-color: #d9d9d9;
        text-align: center;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        @media (max-width: 767px) {
          width: 100%;
          height: 100%;
          background-color: #ebebeb;
          display: block;
          text-align: left;
        }
        img {
          max-width: 100%;
          // padding: 100px;
          @media (max-width: 767px) {
            width: 35%;
            padding: 50px 0;
          }
        }
      }
    }
    .slider_btn {
      position: absolute;
      top: 50%;
      left: 49%;
      transform: translate(-55%, -50%);
      z-index: 99;
      display: flex;
      @media (max-width: 1199px) {
        transform: translate(-60%, -50%);
      }
      @media (max-width: 767px) {
        top: 50px;
        left: 65%;
        transform: translate(0, 0);
      }
      .right {
        background-color: $white;
        padding: 9px 15px;
        transform: rotate(90deg);
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          background-color: #e4dede;
        }
      }
      .left {
        background-color: $white;
        padding: 9px 15px;
        transform: rotate(-90deg);
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          background-color: #e4dede;
        }
      }
    }
  }
}
