@import "../../variables.scss";

.product_form {
  background: $grey5;
  display: block;
  color: $black1;
  padding: 0;
  width: 100%;
  height: 100%;
  &_wrapper {
    width: 100%;
    padding: 40px 0 0;
    h1 {
      font-size: 41px;
      font-weight: 600;
      line-height: 75px;
      letter-spacing: -0.03em;
      text-align: center;
      color: $mediumBlue;
      text-transform: uppercase;
      margin: 0 0 20px;
      @media (max-width: 991px) {
        font-size: 30px;
        line-height: 40px;
      }
    }
    form {
      .field {
        display: flex;
        flex-direction: column;
        margin: 0 0 40px;
        align-items: center;
        /* padding: 50px; */
        input {
          background: #f3f3f3;
          border: none;
          opacity: 0.5;
          border-bottom: 1px solid #b8b8b8;
          height: 40px;
          width: 60%;
          font-size: 17px;
          font-weight: 600;
          line-height: 75px;
          letter-spacing: -0.03em;
          text-align: left;
          margin-right: 50px;
          font-family: "Poppins";
          @media (max-width: 991px) {
            width: 65%;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .dropdown {
        // border: 2px solid white;
        // background-color: blue;
        font-size: 17px;
        font-weight: 600;
        line-height: 45px;
        letter-spacing: -0.03em;
        text-align: left;
        display: flex;
        justify-content: center;
        color: $black;
        font-family: "Poppins";
        .css-13cymwt-control {
          border-radius: inherit;
        }
        .border {
          color: $black;
          border: 1px solid $black;
          width: 67%;
          transform: translateX(-21px);
          @media (max-width: 991px) {
            width: 75%;
            transform: translateX(-22px);
          }
          @media (max-width: 767px) {
            width: 65%;
            transform: translateX(-22px);
          }
        }
      }
      .submit_btn_field {
        align-items: end;
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        .common_button_outer2 {
          //   width: 250px;
          margin: 0px 0px;
          margin-top: 1rem;
        }
      }
      .message_field {
        padding: 90px 0 0 !important;

        @media (max-width: 1199px) {
          padding: 60px 0 0 !important;
          margin: 0 0 60px;
        }
      }
      .submit_btn {
        border: 1.3px solid #fff;
        background: #007dc5;
        width: 200px;
        height: 52px;
        cursor: pointer;
        color: white;
        margin-left: auto;
        margin-top: auto;
        flex-shrink: 0;
        font-size: 20px;
        border: none;
        font-family: "Poppins";
        &:focus-visible {
          outline: none;
        }
      }

      p.error {
        color: red;
        font-size: 15px;
        margin: 0;
        width: 65%;
      }
    }
  }
}
