.fourCards {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .wrapper {
    padding: 96px 0 121px;
    .homePageCommonHeading{
      margin: 0 auto;
    }
    @media(max-width:991px){
        padding: 75px 0 92px;
    }
    @media(max-width:767px){
        padding: 55px 0 72px;
    }
    &_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 109px -19px 0;
      @media (max-width: 991px) {
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 65px -13px 0;
      }
      @media (max-width: 767px) {
        margin: 60px 0 0;
      }
    }
  }
}
