@import "../../variables.scss";

.table {
  margin: 150px 0 40px;
  @media (max-width: 991px) {
    margin: 98px 0 40px;
  }
  @media (max-width: 767px) {
    margin: 55px 0 40px;
  }
  &_wrapper {
    max-width: 1040px;
    margin: 0 auto;

    &_heading {
      width: 500px;
      @media (max-width: 991px) {
        width: 420px;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
      h2 {
        color: $darkBlue;
        font-size: 47px;
        font-style: normal;
        font-weight: 400;
        line-height: 117.023%; /* 55.001px */
        letter-spacing: 0.705px;
        text-transform: uppercase;
        margin: 0 0 40px;
        @media (max-width: 991px) {
          font-size: 40px;
        }
        @media (max-width: 767px) {
          font-size: 25px;
          margin: 0 0 20px;
        }
      }
    }
    &_inner {
      margin: 0 0 43px;
      @media (max-width: 767px) {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto 20px;
        overflow-x: auto;
        white-space: nowrap;
      }
      table {
        border-spacing: 0;

        tr {
          &:nth-child(2n) {
            td:first-child {
              background-color: $grey5;
            }
            td:nth-child(2) {
              background-color: $grey6;
            }
            td:nth-child(3) {
              background-color: $grey7;
            }
            td:nth-child(4) {
              background-color: $grey8;
            }
            td:nth-child(5) {
              background-color: $grey8;
            }
            td:last-child {
              background-color: $grey8;
            }
          }
          td {
            border: 1px solid $grey4;
            width: 172px;
            text-align: center;
            color: $black;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.255px;
            padding: 14px 20px;
            @media (max-width: 991px) {
              padding: 10px 15px;
              font-size: 15px;
            }

            &.col1 {
              width: 468px;
              &:nth-child(2n) {
                background-color: $grey4;
              }
            }
          }
        }
      }
    }
    .note {
      color: $black;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.3px;
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
}
