@import "../../../variables.scss";

.leftRightImageContentItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 0 106px;
  @media (max-width: 767px) {
    flex-direction: column;
    margin: 0 0 40px;
  }
  &.right {
    flex-direction: row-reverse;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .content_right_wrapper {
      padding: 20px 110px 0 70px;
      @media (max-width: 1199px) {
        padding: 20px 90px 0 40px;
      }
      @media (max-width: 991px) {
        padding: 20px 75px 0 18px;
      }
      @media (max-width: 767px) {
        padding: 0;
      }
    }
  }
  //   margin: 0 -60px;
  .content_left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    margin-top: 2rem;

    @media (max-width: 767px) {
      width: 100%;
    }
    .content_image1 {
      @media (max-width: 991px) {
        text-align: center;
      }
      img {
        max-width: 100%;
        @media (max-width: 991px) {
          width: 80%;
        }
        @media (max-width: 767px) {
          width: 60%;
          padding: 40px 0;
        }
      }
    }
  }
  .content_right {
    width: 50%;
    align-items: center;
    height: 100%;
    margin-top: 2rem;
    @media (max-width: 767px) {
      width: 100%;
    }
    &_wrapper {
      padding: 20px 70px 0 110px;
      @media (max-width: 1199px) {
        padding: 20px 40px 0 90px;
      }
      @media (max-width: 991px) {
        padding: 20px 18px 0 75px;
      }
      @media (max-width: 767px) {
        padding: 0;
      }
      &_inner {
        h2 {
          color: $darkBlue;
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 97.523%; /* 46.811px */
          letter-spacing: 0.72px;
          text-transform: uppercase;
          margin: 0 0 20px;
          @media (max-width: 991px) {
            font-size: 42px;
          }
          @media (max-width: 767px) {
            font-size: 36px;
          }
        }
        .content_text {
          color: $darkBlue;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.21px;
          text-transform: capitalize;
        }
        .button_text {
          display: flex;
          border: 1px solid $black;
          color: black;
          padding: 9px;
          width: 8rem;
          margin: 1.5rem 0 2rem;
          justify-content: space-between;

          &:hover {
            color: $darkBlue;
            img {
              transform: translateX(10px);
            }
          }

          img {
            margin-right: 10px;
            transition: all 0.3s;
          }
          a {
            color: $black;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none !important;
            text-transform: capitalize;
          }
        }
      }
      .content_image2 {
        width: 90%;
        @media (max-width: 767px) {
          display: none;
        }
        img {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}
