$white: #fff;
$black: #000;
$black1: #1e1e1e;
$darkBlue: #002d70;
$darkBlue1: #0b3d89;
$darkBlue2: #2a5a75;
$mediumBlue: #0d4292;
$lightBlue1: #54b8f2;
$lightBlue2: #84d2ff;
$lightBlue3: #80bde0;
$lightBlue4: #c4e7fc;
$blue: #007dc5;
$lightGrey: #ededed;
$grey: rgba(255, 255, 255, 0.65);
$grey1: #f3f3f3;
$grey2: #6a6a6a;
$grey3: #d4d4d4;
$grey4: #b8b8b8;
$grey5: #f1f1f1;
$grey6: #e0e0e0;
$grey7: #d1d1d1;
$grey8: #c5c5c5;
$grey9: #fbfbfb;
$grey10: #f8f8f8;
$grey11: #d9d9d9;
$blueGradient: linear-gradient(
  131deg,
  #002d70 -13.25%,
  rgba(0, 147, 253, 0) 202.77%
);
